<footer>
    <p>&copy; 2025 Weelicity</p>
  </footer>
  
  <div id="custom-footer-navigation">
    <div class="custom-nav-item">
      <button class="custom-nav-button" onclick="window.location.href='/index.html'" data-page="home">
        <img src="assets/img/index/home.png" alt="Home">
      </button>
      <p class="nav-label">Home</p>
    </div>
    <div class="custom-nav-item">
      <button class="custom-nav-button" onclick="window.location.href='/pages/tags.html'" data-page="tags">
        <img src="assets/img/index/SpotMap.png" alt="Your Tour">
      </button>
      <p class="nav-label">Visit</p>
    </div>
    <div class="custom-nav-item">
      <button class="custom-nav-button eat-bigger" onclick="window.location.href='/break'" data-page="modeeat break">
        <img src="assets/img/index/AroundMe.png" alt="Eat">
      </button>
      <p class="nav-label">Around Me</p>
    </div>
    <div class="custom-nav-item">
      <button class="custom-nav-button" onclick="window.location.href='/boutonsgeo'" data-page="boutonsgeo">
        <img src="assets/img/index/ai.png" alt="AI">
      </button>
      <p class="nav-label">AI tool</p>
    </div>
    <div class="custom-nav-item">
      <button class="custom-nav-button" onclick="window.location.href='/control'" data-page="control">
        <img src="assets/img/index/control.png" alt="Control">
      </button>
      <p class="nav-label">Control</p>
    </div>
  </div>
  