.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid var(--theme-color);
  font-size: 1.2em;
  cursor: pointer;
}

.menu-icon {
  font-size: 1.4em;
}

.shrikhand-text {
  font-family: 'Shrikhand', cursive;
  text-align: center;
  font-size: 1.8em;
  margin-top: 20px;
}
