html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Shrikhand', cursive;
  background-color: #f5f5f5;
  touch-action: pan-x;
}

.half-screen {
  position: relative;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clickable-box {
  background-color: var(--theme-color);
  color: white;
  border: 4px solid white;
  border-radius: 20px;
  padding: 30px 20px;
  width: 80vw;
  max-width: 400px;
  text-align: center;
  font-size: 1.8em;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
  will-change: transform;
}

.clickable-box small {
  font-size: 0.6em;
  display: block;
  margin-top: 10px;
}

body {
  font-family: var(--theme-font);
}

#top-half .clickable-box {
  background-color: #7BBFC2; /* var(--theme-color) */
}

#bottom-half .clickable-box {
  background-color: #FF8C42;
}


.label {
  padding: 20px;
}

/* Titre */
.shrikhand-text {
  width: 100vw;
  margin: 0;
  font-size: 2.3em;
  color: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  text-align: center;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
} 